<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Base Suite">
    <!--test name="Login Tests">
        <classes>
            <class name="com.ac.automation.LoginTests" />

        </classes>

    </test-->
    <test name="Market Tests">
        <parameter name="browser" value="chrome"/>
        <parameter name="path" value="home"/>
        <packages>
            <package name="market.tests"/>
        </packages>
    </test>
    <!--test name="Market Tests for firefox">
        <parameter name="browser" value="firefox"/>
        <parameter name="driverpath" value="home"/>
        <packages>
            <package name="DecisionAutom"/>
        </packages>
    </test-->

</suite>